body{
    background-color: #f7d4db;
}

.coinFrame{
    position: absolute;
    overflow: hidden;
    background-color: none;
    overflow: hidden;
    table-layout: fixed;
}

.coinText{
    position: relative;
    color: #000000;
    font-family: "Sawarabi Mincho";
    text-align: start;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.coinImg{
    position: absolute;
    transition: 0.5s;
}

.popup{
    position: absolute;
    width: 90%;
    left: 5%;
    background-color: azure;
    border: 5px solid black;
    display: table;
    border-collapse: separate;
}

.popupText{
    position: relative;
    color: black;
    font-family: "Sawarabi Mincho";
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    left: 3.5%;
    
}