

.card{
    transform: rotateY(0deg);
    position : absolute;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

.info{
    top : 1%;
    right: 1%;
    text-align: end;
    font-size: 30px;
    position: absolute;
}

.menuButton{
    left: 2%;
    width: 25%;
    height: 7%;
    position: absolute;
    background-color: #DDDDDD;
    display: table;
}

.menuButtonText{
    display: table-cell;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}

.heartText{
    position: relative;
    font-size: 120px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    top: 20%;
    letter-spacing: 30px;
    margin-right: -20px;
    -webkit-text-stroke: 5px white;
}


.clearImage{
    position: absolute;
    left: 10%;
    width: 80%;
    top: 35%;
    z-index: 1;
    transform: translateZ(100px);
}
